<!DOCTYPE html>
<html>
  <head>
    <title>DBMS</title>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
  </head>
  
  <body>
    <h1>
      DBMS
    </h1>
    <p>
      Table name:
      <select id="tableSelect" onchange="selectTable()">
      </select>
    </p>
    <p>
      <button onclick="newRecord()" id="newButton">
        New Record
      </button>
      <button onclick="refresh()" id="refreshButton">
        Refresh
      </button>
    </p>
    
    <div id="data">
    </div>
    
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
    <script>
      let load = function() {
        //ask user for the password
        let password = prompt("Enter the DBMS password")
        //swap with token from server
        axios.post("/dbms/auth", {password: password}).then((response) => {
          if (response.data.success == true) {
            //correct password - set axios header, then load tables
            axios.defaults.headers.common['x-dbms-token'] = response.data.token
            getTables()
            
            //enable inputs
            document.getElementById("tableSelect").disabled = false
            document.getElementById("newButton").disabled = false
            document.getElementById("refreshButton").disabled = false
          } else {
            //incorrect password
            document.getElementById("data").innerHTML = '<h3>Incorrect Password</h3><button onclick="load()">Try again</button>'
            //disable inputs
            document.getElementById("tableSelect").disabled = true
            document.getElementById("newButton").disabled = true
            document.getElementById("refreshButton").disabled = true
          }
        })
      }
       
      //get all table names from server
      let getTables = function() {
        axios.get("/dbms/allTables").then((response) => {
          //see if there are any tables
          if (response.data.length == 0) {
            document.getElementById("data").innerHTML = "<h3>There are no tables in the database</h3>"
            document.getElementById("tableSelect").disabled = true
            document.getElementById("newButton").disabled = true
            document.getElementById("refreshButton").disabled = true
            return
          }
          
          //loop through each response and add to table select
          let el = document.getElementById("tableSelect")
          for (let i in response.data) {
            let opt = document.createElement("option")
            opt.value = response.data[i].name
            opt.innerHTML = response.data[i].name
            el.appendChild(opt)
          }
          
          //load the first table
          selectTable()
        })
      }
      
      //loads the table highlighted in the select box
      let selectTable = function() {
        let el = document.getElementById("tableSelect")
        let table = el.options[el.selectedIndex].value
        window.currentTable = table
        loadTable(table)
      }
      
      //load a new table
      let loadTable = function(table) {
        //get from server
        axios.get("/dbms/table?table=" + table).then((response) => {
          window.tableData = response.data
          
          //see if table is empty
          if (response.data.length == 0) {
            document.getElementById("data").innerHTML = "<h3>There are no records in table " + table + "</h3>"
            return
          }
          
          let html = "<table><tr>"
          //look through first entry to get header
          for (key in response.data[0]) {
            html += "<th>" + key + "</th>"
          }
          //add delete column
          html += "<th>Delete</th></tr>"
          
          //loop through and fill in the actual data
          for (i in response.data) {
            html += "<tr>"
            for (key in response.data[i]) {
              //each entry is an edit link
              html += `<td><a href="#" onclick="edit(${i},'${key}')">${response.data[i][key]}</a></td>`
            }
            //add delete button
            html += `<td><a href="#" onclick="deleteRecord(${response.data[i].rowid})">Delete</a></td>`
            html += "</tr>"
          }
          html += "</table>"
          
          document.getElementById("data").innerHTML = html
        })
      }
      
      //create a new record
      let newRecord = function() {
        //ask server
        axios.post("/dbms/new", {table: window.currentTable}).then((response) => {
          alert("Empty record created with rowid " + response.data)
          loadTable(window.currentTable)
        })
      }
      
      //edit a record
      let edit = function(id, key) {
        let value = prompt("Enter a new value for " + key, window.tableData[id][key])
        //make sure something was entered, and it's not the same
        if (value && value != window.tableData[id][key]) {
          //send to server
          axios.post("/dbms/edit", {table: window.currentTable, id: window.tableData[id].rowid, field: key, value: value}).then((response) => {
            if (response.data != "ok") {
              alert("SQL error:\n" + response.data.code)
            }
            loadTable(window.currentTable)
          })
        }
      }
      
      //delete a record
      let deleteRecord = function(id) {
        if (confirm(`Delete record ${id}?`)) {
          axios.post("/dbms/delete", {table: window.currentTable, id: id}).then((response) => {
            if (response.data != "ok") {
                alert("SQL error:\n" + response.data.code)
            }
            loadTable(window.currentTable)
          })
        }
      }
      
      //refresh button
      let refresh = function() {
        loadTable(window.currentTable)
      }
      
      window.addEventListener("load", load)
    </script>
  </body>
</html>