<html>
  <head>
    <title>Diary</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="countries.js"></script>
    <script src="edit.js"></script>
  </head>
  
  <body>
    <h1>
      Edit
    </h1>
    
    <form action="" method="post">
      Date: <input type="date" name="date"><br>
      Country: <div id="country"></div><br>
      Place: <input type="text" name="place"><br>
      Notes: <textarea rows="5" cols="50" name="notes"></textarea><br>
      <input type="hidden" name="id">
      <input type="hidden" name="diary">
      <input type="submit" value="save">
    </form>
    
    <a href="/" id="link">Cancel</a>
    
  </body>
</html>