<html>
  <head>
    <title>Diary</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/dateformat/lib/dateformat.js"></script>
    <script src="client.js"></script>
  </head>
  
  <body>
    <h1>
      Diary
    </h1>
    
    <a href="/new">Add new</a>
    <hr>
    
    <input type="radio" name="view" value="all" onclick="test(this)" checked><b>View All</b><br>
    <input type="radio" name="view" value="dates" onclick="test(this)"><b>Dates:</b>
    From <input type="date" name="from"> To <input type="date" name="to">
    
    <hr>
    <div id="table">
      Loading...
    </div>
    
  </body>
</html>